<p>create-new-user-reactive works!</p>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">

    <label for="username">Username</label>
    <input
      type="text"
      formControlName="username"
    >
    <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">Please enter a valid username!</span>

    <label for="email">Email</label>
    <input
      type="text"
      formControlName="email"
    >
  </div>

  <label for="gender">Gender</label>
  <input
    type="text"
    formControlName="gender"
  >
  <div *ngFor="let gender of genders">
    <label for="">
      <input
        type="radio"
        formControlName="gender"
        [value]="gender"
      >
      {{gender}}
    </label>
  </div>

  <p *ngIf="submitted">
<!--    email: {{ test.value.email }} <br/>-->
<!--    name: {{ test.value.name }}-->
    submitted
  </p>

  <button
    type="button"
    (click)="submitted = true;"
  >
    Create new user
  </button>

</form>
